body{
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 75vh 25vh;
    grid-template-areas: 
    "jeden dwa dwa trzy trzy"
    "jeden piec1 piec2 piec3 piec4";

}
#menu{
    grid-area: jeden;
    background-color: aqua;
}
#srodkowylewy{
    grid-area: dwa;
    background-color: rgb(0, 0, 0);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
#srodkowyprawy{
    grid-area: trzy;
    background-color: rgb(37, 54, 54);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30vh 26vh 44vh;
    grid-template-areas: 
    "jeden"
    "dwa"
    "trzy";
    
}
#malejeden{
    grid-area: piec1;
    background-color: rgb(7, 15, 15);
}
#maledwa{
    grid-area: piec2;
    background-color: rgb(114, 114, 114);
}
#maletrzy{
    grid-area: piec3;
    background-color: rgb(23, 32, 32);
}
#malecztery{
    grid-area: piec4;
    background-color: rgb(6, 90, 90);
}

.glowny{
    height: 100px;
    width: 250px;
    margin: 0px;
    border: 3px green solid;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100vh;
    grid-template-areas: 
    "nazwa ilosc";
}
.nazwa{
    height: 100px;
    width: 200px;
    grid-area: nazwa;
    color: white;
    border-right: 3px green solid;
}
.ilosc{
    height: 100px;
    width: 50px;
    grid-area: ilosc;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
#zapis{
    grid-area: trzy;
    display: flex;
    flex-direction: column;
    color: white;
}
#nazwag{
    width: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
#iloscg{
    width: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#filtracja{
    grid-area: jeden;
    height: 100px;
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#filtr{
    width: 100vh;
    height: 30px;
    font-size: 20px;
}
#aha{
    grid-area: dwa;
}
#nazwai{
    width: 70vh;
    font-size: 30px;
}
#iloscl{
    width: 70vh;
    font-size: 30px;
}
#inputy{
    width: 100vh;
    display: flex;
    flex-direction: row;
}
#min{
    width: 40vh;
    font-size: 30px;
}
#max{
    width: 60vh;
    font-size: 30px;
}